* {
    margin: 0;
    padding: 0;
}

:root {
    --white: #ffffff;
    --light-grey: #f7f4f4;
    --darker-grey: #c6c5c5;
    --blue: #59c4f2;
    --text: #4d4d4d;
    --hover: #e3e2e2;
    --green-btn: #34d399;
    --green-btn-hover: #3be0a4;
    --red-btn: #fb7185;
    --red-btn-hover: #f78495;
    --orange: #ffb733;
}

html {
    font-family: 'Pragati Narrow', sans-serif;
    font-size: 62.5%;
    box-sizing: border-box;
    height: 100%;
}

/* ----- HEADER ----- */
header {
    display: flex;
    justify-content: center;
    color: var(--white);
    font-size: 2.6rem;
    background: var(--blue);
}

.header__container {
    display: flex;
    align-items: center;
    padding: 2rem;
    gap: 2rem;
}

.header__img {
    height: 50px;
    width: auto;
}

/* ---- MAIN ---- */
main {
    display: flex;
}

/* ----- LEFT NAV PANEL ----- */
nav {
    /* display: flex; */
    flex-direction: column;
    background: var(--light-grey);
    color: var(--text);
    height: 100vh;
    min-width: 34rem;
    max-width: 34rem;
}

nav > h2 {
    font-size: 2.4rem;
    padding-top: 3rem;
    padding-left: 2.5rem;
}

nav > hr {
    border: 1px solid #000000;
    margin: 1rem 2rem 0rem 2rem;
}

.nav__section {
    margin: 1rem 2rem;
    list-style: none;
}

.nav__text {
    display: flex;
    align-items: center;
    color: var(--text);
}

.nav__item {
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
    font-size: 1.8rem;
    font-weight: bold;
    padding: 0.7rem 1rem 0.7rem 2rem;
    border-radius: 5px;
}

.nav__item--active {
    background: var(--hover);
}

.nav__item:hover {
    background: var(--hover);
}

.nav__icon {
    height: 33px;
    padding-right: 1rem;
}

.nav__add-new-project-img {
    width: 28px;
    height: auto;
}

.nav__remove-icon {
    display: none;
}

.nav__remove-icon:hover {
    background: var(--light-grey);
    border-radius: 5px;
}

.nav__item:hover .nav__remove-icon {
    display: block;
    margin: auto;
    margin-right: 1rem;
}

/* New Project Form Pop-Up */
.nav__form {
    display: none;
    height: 9rem;
    margin: 2rem 2rem 0rem 2rem;
    background-color: var(--hover);
    border-radius: 5px;
}

.nav__form--active {
    display: block;
}

.nav__form-input-wrapper {
    display: flex;
    justify-content: center;
}

.nav__form-input {
    height: 2.7rem;
    width: 75%;
    font-size: 1.8rem;
    padding-left: 1rem;
    margin-top: 1rem;
    border-radius: 5px;
}

.nav__form-buttons {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 1rem;
}

.nav__form-add-btn,
.nav__form-cancell-btn {
    font-size: 1.5rem;
    width: 7.8rem;
    color: var(--white);
    font-weight: 600;
    padding: 0.6rem;
    border-radius: 5px;
}

.nav__form-add-btn {
    background: var(--green-btn);
}

.nav__form-add-btn:hover {
    background: var(--green-btn-hover);
}

.nav__form-cancell-btn {
    background: var(--red-btn);
}

.nav__form-cancell-btn:hover {
    background: var(--red-btn-hover);
}

/* ---- RIGHT MAIN SECTION ---- */

.right-panel {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: var(--text);
}

.right-panel__title {
    display: flex;
    justify-content: center;
    height: fit-content;
    width: 80%;
    margin: 0 auto;
    margin-top: 2.4rem;
    margin-bottom: 1.2rem;
    font-size: 3rem;
}

.right-panel__add-task {
    display: none;
    height: fit-content;
    align-items: center;
    width: 80%;
    font-size: 1.8rem;
    margin: 0 auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    font-weight: bold;
    border-radius: 5px;
}

.right-panel__add-task--active {
    display: flex;
}

.right-panel__add-task:hover {
    background: var(--hover);
}

.right-panel__add-task-img {
    height: 28px;
    width: auto;
    margin-right: 1rem;
}

/* ----- Hidden Add Task Form ----- */
.right-panel__task-form {
    display: none;
    flex-direction: column;
    margin: auto;
    font-size: 1.8rem;
    margin-top: 0.1rem;
    margin-bottom: 1rem;
    width: 80%;
    height: fit-content;
}

.right-panel__task-form--active {
    display: block;
}

.right-panel__task-form-input-wrapper {
    display: flex;
    flex-direction: column;
}

.task-form__top-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
}

.task-form__top-wrapper > input {
    width: 100%;
    margin-left: 0.5rem;
}

.task-form__date-label {
    white-space: nowrap;
    margin-left: 2rem;
}

.task-form__title,
.task-form__description,
.task-form__date {
    font-size: 1.8rem;
    padding-left: 0.5rem;
    border: 2px solid black;
    border-radius: 5px;
}

.task-form__description {
    font-family: 'Pragati Narrow', sans-serif;
    resize: none;
    padding: 0.3rem;
    padding-left: 0.5rem;
}
.right-panel__task-form-input-wrapper > label {
    margin-top: 0.7rem;
    margin-bottom: 0.2rem;
}

.task-form__title,
.task-form__date {
    height: 2.7rem;
}

.right-panel__add-task-buttons {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 2rem;
}

.add-task__add-btn,
.add-task__cancell-btn {
    font-size: 1.5rem;
    width: 7.8rem;
    color: var(--white);
    font-weight: 600;
    padding: 0.6rem;
    border-radius: 5px;
}

.add-task__add-btn {
    background: var(--green-btn);
}

.add-task__add-btn:hover {
    background: var(--green-btn-hover);
}

.add-task__cancell-btn {
    background: var(--red-btn);
}

.add-task__cancell-btn:hover {
    background: var(--red-btn-hover);
}

/* ----- Task List ----- */
.right-panel__all-tasks {
    display: flex;
    flex-direction: column;
}

.right-panel__task-item {
    display: flex;
    list-style: none;
    font-size: 1.8rem;
    background: var(--hover);
    margin: auto;
    margin-bottom: 0.5rem;
    width: 80%;
    padding: 1rem;
    border-radius: 5px;
}

.right-panel__task-item:hover {
    background: var(--darker-grey);
}

.right-panel__task-item--active {
    background: var(--darker-grey);
}

.right-panel__task-text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right-panel__task-checkbox {
    width: 1.7rem;
    height: auto;
}

.right-panel__task-title,
.right-panel__task-description {
    margin-left: 1.5rem;
}

.right-panel__task-description {
    font-size: 1.5rem;
}

.right-panel__task-icons {
    display: flex;
    margin-right: 1rem;
    margin-left: auto;
    height: 2.6rem;
    gap: 0.4rem;
}

.right-panel__task-icons > img {
    padding: 0.2rem;
    border-radius: 5px;
}

.right-panel__task-due-date {
    display: flex;
    align-items: center;
    background: var(--light-grey);
    margin-right: 0.7rem;
    padding: 0.5rem;
    border-radius: 5px;
}

.task-item__edit-icon--active {
    background: var(--light-grey);
}

.task-item__edit-icon:hover {
    background: var(--light-grey);
}

.task-item__important-icon:hover {
    background: var(--light-grey);
}

.task-item__important-icon--active {
    background: var(--light-grey);
}

.task-item__remove-icon:hover {
    background: var(--light-grey);
}